.form-booking form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: #495E57;
    padding: 4rem 4rem 1rem 4rem;
    border: 3px solid #fff;
    border-radius: 1rem;
}

.form-booking form label{
    margin-bottom: .7rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #F4CE14;
}

.form-booking form input, select{
    margin-bottom: 1rem;
    border: none;
    height: 2.8rem;
    border-radius: 1rem;
    padding: .8rem;
    font-size: 1rem;
}

.form-booking form div{
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: red;
    font-size: 1.2rem;
}

.form-booking form input.error{
    border: 2px solid red;
}

.form-booking form textarea{
    margin-bottom: 1.5rem;
    border: none;
    height: 200px;
    padding: 2rem;
    font-size: 1rem;
}

.form-booking form input[type=submit]{
    cursor: pointer;
    width: 60%;
    margin: 3rem auto;
    background-color: #F4CE14;
    font-weight: 600;
    border: none;
    transition: all .3s ease-in-out;
}

.form-booking form input[type=submit]:hover{
    background-color: #495E57;
    color: #F4CE14;
    outline: 1px solid #F4CE14;
}