section.hero {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    color: #fff;
}

.hero .hero-content{
    width: 50%;
    max-width: 400px;
    margin: auto 0;
}

.hero .hero-content h1{
    color: #F4CE14;
    margin-bottom: .5rem;
}

.hero .hero-content h3{
    margin-bottom: 1rem;
}

.hero .hero-content p{
    width: 300px;
    margin-bottom: 3rem;
}

.hero img {
    width: 50%;;
    height: 100%;
    border-radius: 1rem;
}

/* Queries */
@media (max-width: 850px) {
    .hero .hero-content h1{
        font-size: 2rem;
        margin-bottom: .4rem;
    }

    .hero .hero-content h3{
        font-size: 1.2rem;
        margin-bottom: .8rem;
    }
    
    .hero .hero-content p{
        width: 240px;
        margin-bottom: 3rem;
    }
}

@media (max-width: 620px) {
    section.hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .hero-content{
        width: 100%;
        margin: 2rem 0;
    }

    .hero .hero-content button{
        float: right;
    }

    .hero img {
        width: 100%;
    }
}