section.highlights {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.highlights .highlights-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.highlights .highlights-info h2 {
    color: #495E57;
}

.highlights .dishes {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.highlights .dishes .dish {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.highlights .dishes .dish img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.highlights .dishes .dish .dish-info {
    position: relative;
    padding: 1rem 1.5rem;
    height: 60%;
}

.highlights .dishes .dish .dish-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.highlights .dishes .dish .dish-info div p {
    font-weight: 600;
}

.highlights .dishes .dish .dish-info>p:nth-child(2) {
    text-align: justify;
    margin-bottom: 2rem;
}

.highlights .dishes .dish .dish-info>p:nth-child(3) {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    bottom: 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.highlights .dishes .dish .dish-info>p:nth-child(3):hover {
    transform: translateX(10px);
}

.dish-info>p:nth-child(3) svg {
    margin-left: .5rem;
}

/* Queries */
@media (max-width: 1100px) {
    .highlights .dishes {
        gap: 1rem;
    }

    .highlights .dishes .dish .dish-info {
        padding: .6rem 1rem;
    }

    .highlights .dishes .dish .dish-info div {
        margin-bottom: 1.5rem;
    }

    .highlights .dishes .dish .dish-info h3 {
        font-size: 1rem;
    }

    .highlights .dishes .dish .dish-info p {
        font-size: .8rem !important;
    }
}

@media (max-width: 850px) {
    .highlights .highlights-info h2 {
        font-size: 1.8rem;
    }

    .highlights .dishes {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (max-width: 620px) {
    .highlights .highlights-info {
        flex-direction: column;
        gap: 2rem;
    }

    .highlights .dishes {
        grid-template-columns: repeat(1, 1fr);
    }

    .highlights .dishes .dish {
        margin: auto;
        width: 70%;
    }

}

@media (max-width: 420px) {
    .highlights .dishes .dish {
        margin: auto;
        width: 100%;
    }
}