section.testimonials {
    padding: 4rem 0 8rem;
    text-align: center;
}

.testimonials h3{
    color: #fff;
    margin-bottom: 4rem;
}

.testimonials .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.testimonials .testimonial-info {
    background-color: #fff;
    padding: 1rem;
}

.testimonials .testimonial-info .rating{
    color: #F4CE14;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.testimonials .testimonial-info img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 1rem;
}

/* Queries */
@media (max-width: 1100px) {
    .testimonials .cards{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .testimonials .testimonial-info .rating{
        margin-bottom: .8rem;
        font-size: 1rem;
    }

    .testimonials .testimonial-info img{
        width: 120px;
        height: 120px;
        margin-bottom: .8rem;
    }

    .testimonials .testimonial-info p{
        font-size: .8rem;
    }
}

@media (max-width: 420px) {
    .testimonials .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}