section.testimonials {
    padding: 4rem 0 8rem;
    text-align: center;
}

.testimonials h3{
    color: #fff;
    margin-bottom: 4rem;
}

.testimonials .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.testimonials .testimonial-info {
    background-color: #fff;
    padding: 1rem;
}

.testimonials .testimonial-info .rating{
    color: #F4CE14;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.testimonials .testimonial-info img{
    border-radius: 100%;
    margin-bottom: 1rem;
}